
html[lang] { aspect:"Lang.Controller" url(IDR_TIS_GERMAN_LANG.tis); }

html[lang] label,
html[lang] dfn,
html[lang] .dfn { aspect:"Lang.Label"; }

html[lang] var,
html[lang] .var { aspect:"Lang.Formatter"; }